@import "../../assets/fonts/fonts";
@import "../../assets/variables/variable";

:root {
  --navcover-z-index: 99;
  --sidenav-z-index: 100;
}

.nav-cover {
  position: fixed;
  z-index: var(--navcover-z-index);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}
#side-navbar1{
  .side-nav {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-x: hidden;
    z-index: 1111;
    top: 0;
    right: 0;
    visibility: hidden;
    transition: 0.25s;
    box-shadow: -8px 0px 24px #0000004A;
    opacity: 0;
    a {
     padding: 0.5rem 0.5rem 0.5rem 1rem;
     text-decoration: none;
     color: $white !important;
     font-size: 14pt;
     display: block;
     transition: 0.53s;
     
   }
   .close-nav {
     position: absolute;
     top: 0rem;
     right: 1rem;
     font-size: 2.2rem;
   }
   .first-section{
     background-color:$black;
     height: 100%;
     width: 700px;
     opacity: 0.6;
   }
   .second-section{
     padding: 15% 5%;
     height: 100%;
     width: 300px;
     padding-top: 10%;
     background: $light-black 0% 0% no-repeat padding-box;
   }
   .link-design{
     border-bottom: 2px solid $Mine-Shaft;
     border-top: 2px solid $Mine-Shaft;
     padding-top: 30px;
     padding-bottom: 30px;
   }
   
}

.site-wrapper {
   transition: margin-left .5s;
}

.open-nav {
 font-size: 2rem;
 cursor: pointer;
 position: relative;
 z-index: 1112;
}
}

@media only screen and (max-device-width : 767px) {
  #side-navbar1{
    .side-nav {
      .second-section{
        padding-top: 20% !important;
      }
    }
  }
 
}