@import "../../assets/fonts/fonts";
@import "../../assets/variables/variable";

.resend{

.custom-login{
  .login-form{
     & a{
       font-size: 1.2em;
       letter-spacing: 0;
       color: $Dove-Gray;
     }
    .resend-text{
      font-size: 1.2em;
      font-weight: 700;
      padding-left: 3%;
      color: $black;
    }
  }

}
}