
/* Font-Family*/
$FontFamily-Sofia-pro:"Sofia Pro";




/* Color Scheme*/
$Studio:#733EB4;
$Heliotrope:#A457FF;
$Mercury:#E3E3E3;
$Wild-Sand:#F4F4F4;
$light-gray:#B1B1B1;
$Gray:#808080;
$Mine-Shaft:#212121;
$white:#fff;
$black:#000;
$light-black:#151515;
$Dove-Gray:#696969;
$Alto:#E0E0E0;

