@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro Regular'), local('Sofia-Pro-Regular'),
  url('./SofiaProRegular.woff2') format('woff2'),
  url('./SofiaProRegular.woff') format('woff'),
  url('./SofiaProRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro Ultra Light'), local('Sofia-Pro-Ultra-Light'),
  url('./SofiaProUltraLight.woff2') format('woff2'),
  url('./SofiaProUltraLight.woff') format('woff'),
  url('./SofiaProUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro Bold';
  src: url('../fonts/SofiaProBold.ttf');
}