
@import "../../../assets/fonts/fonts";
@import "../../../assets/variables/variable";
#user-access{
    .collapse-minus{
        position: absolute;
        right: -35px;
        top: 13px;
        font-size: 25px;
        color: $Studio;
        cursor: pointer;
    }
    .success-tick-icon{
        width:  18px;
        position: absolute;
        left: auto;
        right: 10px;
        top: 30%;
    }
    .collapse-plus{
        font-size: 23px;
        color: $Studio;
        cursor: pointer;
    }
}
@media screen and (max-width:767px){
    #user-access {
      border-top: 1.5px solid $Alto;
    }
}