
@import "../../../assets/fonts/fonts";
@import "../../../assets/variables/variable";
#user-access{
    .collapse-minus{
        position: absolute;
        right: -35px;
        top: 13px;
        font-size: 25px;
        color: #733EB4;
        cursor: pointer;
    }
}
@media screen and (max-width:767px){
    #user-access {
      border-top: 1.5px solid $Alto;
    }
}