@import "../../assets/fonts/fonts";
@import "../../assets/variables/variable";

#dashboard{
  
  .custom-submit{
    
      .btnSubmit{
        position: absolute;
        top: 85%;
        padding: 10px 15px;
        background: $Studio;
        left: auto;
        right: 10% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        img{
          width: 50px;
        }

        &:focus{
          outline: none;
        }
        & span{
          color: $white;
          font-size: 1em;
        }
      }
    }

  
  .tab-page{
    overflow:hidden ;
    
   
    
    .custom-text-field{
      textarea{
        background: transparent;
        border: none;
        width: 100%;
        resize: none;
        outline: none;
      }
    }
  
 
  
    .response-msg{
      color: $Mountain-Meadow;
      &.error{
        color: $Froly !important;
      }
    }
  
    .validate{ 
      &::-webkit-input-placeholder { 
        color: $Froly !important;
      }
    }
  
   .tabs-section{
    height: auto !important;
    margin-top: 1%;
    
    .tabs-card{
      height: 600px;
      .left-sec{
        border-right: 1px solid $Alto;
        margin-top: 5%;
        max-height: 500px;
        .tab{
          & button{
            display: block;
            background-color: inherit;
            color: $light-gray;
            padding: 0px 7px 40px 5px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            line-height: 1.3em;
            font-size: 1em;
            font-weight: 500;
            cursor: pointer;
            z-index: 0;
            transition: 0.3s;
            &.active{
             color: $black;
            }
          }
         
        }
      }
      .more-btn{
        position: absolute;
        bottom: 10px;
        button{
          background-color: inherit;
          color: $light-gray;
          padding: 0px 7px 40px 5px;
          width: 100%;
          border: none;
          outline: none;
          text-align: left;
          line-height: 1.3em;
          font-size: 1em;
          font-weight: 500;
          cursor: pointer;
          z-index: 0;
          transition: 0.3s;
          &.active{
            color: $black;
           }
        }
      }
      .content-sec{
        margin-top: 5%;
        max-height: 500px;
        overflow: auto;

        // margin-top: 5%;
        // overflow-y: scroll !important;
        // height: 500px;
        // overflow: hidden;
        .tabcontent{
          // width: 80%;
          // margin: 0 auto;
          & p{
            color: $Dove-Gray;
            font-size: 1em;
            letter-spacing: 0;
            line-height: 20px;
            padding-bottom: 30px;
          }
          .form-group{
            // width: 80%;
            .input-title{
              margin-bottom: 0;
              color:$Gray;
              padding-left: 17px;
            }
           .input-inner-btn{
              color: $Studio;
              position: absolute;
              right: 30px;
              text-decoration: none;
              top: 17px;
              font-size: 0.8em;
              font-weight: 700;
            }
            .profile-inputs{
              &.input-inner-btn{
                top: 17px !important;
              }
            }
            
          }
          .add-btn{
  
            & a{
              color: $Studio;
              position: relative;
              font-weight: 600;
              padding-left: 4%;
              cursor: pointer;
            }
          }
            .form-control{
              opacity: 0.4;
              border: none;
              height: 50px;
              padding: 0.6em;
              color: $black;
              margin-top: 1em;
  
              &:focus{
                outline: none;
                box-shadow: none;
              }
            }
          }
        .second-content{
            form{
              padding: 0 !important;
            }
            .security-questions {
              background: $white 0% 0% no-repeat padding-box;
              border-radius: 4px;
              opacity: 0.3;
              width: 80%;
              padding: 10px 10px;
            }    
            .toggle-icon{
              color: $Purple;
              font-size: 25px;
            }
            .card-collapse{
             width: 80.5%;
            }
          }
         
          .form-group{
            margin: 0;
            position: relative;
            // margin-bottom: 2.25em;
           
            .img-section{
              img{
                background: $Studio;
                margin-top: 8%;
                border-radius: 50%;
                width: 15px;
                height: 15px;
              }
            & a{
              position: absolute;
              color: $Studio;
              top: 12px;
              font-weight: 600;
            }
          }
          .add-btn{
            & a{
              position: relative;
            }
          }
        }
        .profile-section{
          .custom-input{
            margin-top: 1em;
          }
          .profile-img{
            margin-left: 1.7rem;
            & img{
              width: 70px;
              border-radius: 50%;
              height: 70px;
            } 
            a{
              color:$light-gray;
              font: 400 14px/30px $FontFamily-Sofia-pro;
            }
          }
        }
        .more-section{
         .more-card{
          background: $Wild-Sand 0% 0% no-repeat padding-box;
          word-wrap: break-word;
          border-radius: 4px;
          opacity: 1;
          width: 638px;
          height: 50px;
          a{
            font: 700 16px/20px Sofia Pro;
            opacity: 0.5;
            cursor: pointer;
            span{
              font: 500 16px/20px Sofia Pro;
            }
          }
         }
        }
      }
  
      .bottom-card{
        & span{
          padding-left: 5%;
          color: $black;
          opacity: 0.21;
        }
      }
      }
    }
    .upper-list{
      cursor: pointer;
      & a{
          color: $light-gray;
          padding: 0 3%;
      }
      .active{
        color: $white; 
        &:hover{
          color: $white;
        }
      }
      
    }
    .after-section{
      content: "";
      height: 60px;
      width: 55px;
      clip-path: polygon(45% 41%, 0 0, 86% 0);
      background: transparent linear-gradient(141deg, $Wild-Sand 0%, $Mercury 100%) 0% 0% no-repeat padding-box;
      position: absolute;
      transition:0.5s;
      -webkit-transition:0.5s;
      -moz-transition:0.5s;
      position:absolute;
      left: 45px;
      bottom: 52%;
    }
    .after-section-animate{
        left: 185px;
    }
   
    .song-text{
      max-width: 180px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  
}


@media screen and (max-width:767px){ 
  #dashboard{
    .custom-submit{
      .btnSubmit{
        right: 5% !important;
        p{
          line-height: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: 62px;
        }
        img{
          width: 40px;
        }
      }
    }
    .tab-page{
      .second-content{
        border-top: 1.5px solid $Alto;;
      }
    
      .ellipsis-icon{
        position: absolute;
        top: 6%;
        right: 15px;
        left: auto;
        cursor: pointer;
      }
      .tabs-section {
        .tabs-card {
          overflow-y: auto;
          .left-sec {
            border-right:none;
          }
        }
      }
    } 
  }
}



.preferences-modal{
  .modal-content{
    background: $Mine-Shaft !important;
    min-height: 500px;
    color: $white !important;   
    .modal-header{
      padding: 0.5rem 1rem;
      border-bottom:none;
      button{
        border: none;
        background: transparent;
        text-shadow: none;
        font-weight: 500;
        color: $white !important;
        opacity: 1 !important;
        &:focus{
          outline: none;
        }
        span{
          font-size: 45px;
          color: $white;
        }
      }
    }
    .modal-body{
      min-height: 500px;
      overflow: auto;
      .header-text{
        opacity: 0.9;
      }
      .radio-btn{
        .checkbox-text{
          font-size: 1em;
          opacity: 0.9;
        }
        .container-radio{
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          .checkmark{
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            border-radius: 50%;
            width: 20px;
            background-color: $white;
          }
          .checked{
            background: $Studio;
          }
        }
      }
      .unsubscribe-all{
        position: absolute;
        bottom: 50px;
      }
    }
    .modal-footer{
      border: none;
      .update-btn{
        position: absolute;
        right: 15px;
        bottom: -30px;
        min-width: 100px;
        min-height: 55px;
        background: $Studio;
        border: none;
        color: $white;
      }
    }
  }
  .form-inner{
    background: #2e2e2e 0 0 no-repeat padding-box;
    border-radius: 22px;
    width: 350px;
    input{
      background: transparent;
      color: $white !important;
      &:focus{
        box-shadow: none;
      }
    }
    #button-search{
      .fa{
        color: $white;
      }
    } 
  }
}

.spotify-modal{
    .modal-content{
      background: $black !important;
      color: $white !important;   
      .modal-header{
        border-bottom:1px solid $Dove-Gray !important;
      }
      .modal-body{
        max-height: 250px;
        overflow: auto;
       
      }
    }
    .form-inner{
      background: #2e2e2e 0 0 no-repeat padding-box;
      border-radius: 22px;
      width: 350px;
      input{
        background: transparent;
        color: $white !important;
        &:focus{
          box-shadow: none;
        }
      }
      #button-search{
        .fa{
          color: $white;
        }
      } 
    }
}

.list-song{
  cursor: pointer;
  border-bottom: 1px solid #696969 !important;
  img{
    width: 50px;
    border-radius: 50%;
  }
}