@import "../../../assets/fonts/fonts";
@import "../../../assets/variables/variable";

#security{
    .line{
        background: $Alto;
        height: 1px;
        margin: 0 20px;
        width: 90%;
        z-index: 999999999;
    }
    .custom-input{
       margin-top: -1px !important;
    }
    .form-control[readonly] {
        background-color: $white; 
        opacity: 1;
    }
    .input-inner-btn{
        cursor: pointer;
    }
    .collapse-minus{
        left: auto;
        right: -15px;
        top: 15px;
        font-size: 25px;
        color: $Purple;
        position: absolute;
        cursor: pointer;
    }
    .question-answer{
        word-break: break-all;
        padding:1em !important;
        height: auto !important;
        padding-right: 3em !important;
    }
    textarea{
        padding: 13px !important;
    }
}

@media screen and (max-width:767px){
    #security{
        .input-inner-btn{
            position: unset !important;
            margin-left: 7px !important;
        }
        .question-answer{
            word-break: break-all;
            padding:1em !important;
            padding-right: unset;
        }
    }
}
