@import "../../../assets/fonts/fonts";
@import "../../../assets/variables/variable";

#security{
    .line{
        background: $Alto;
        height: 1px;
        margin: 0 20px;
        width: 90%;
        z-index: 999999999;
    }
    .custom-input{
       margin-top: -1px !important;
    }
    .form-control[readonly] {
        background-color: $white; 
        opacity: 1;
    }
    .input-inner-btn{
        cursor: pointer;
    }
    .collapse-minus{
        left: auto;
        right: -35px;
        top: 15px;
        font-size: 25px;
        color: $Purple;
        position: absolute;
        cursor: pointer;
        z-index: 999999;
    }
    .question-answer{
        word-break: break-all;
        padding:1em !important;
        height: auto !important;
        padding-right: 3em !important;
    }
    textarea{
        padding: 13px !important;
    }
    .save-btn{
        background: transparent linear-gradient(180deg,$Heliotrope,$Studio) 0 0 no-repeat padding-box;
        box-shadow: 0 3px 12px rgba(0,0,0,.16);
        border-radius: 8px;
        padding: 7px 20px;
        border: none;
        color: $white;
      }
}

@media screen and (max-width:767px){
    #security{
        .input-inner-btn{
            position: unset !important;
            margin-left: 7px !important;
        }
        .question-answer{
            word-break: break-all;
            padding:1em !important;
            padding-right: unset;
        }
        .collapse-minus{
            right: -3px;
        }
        .mobile-screen{
            padding-right: 1.5rem !important;
        }
    }
}
